{{define "landing-auth"}}

<div class="flex flex-col gap-9 w-[360px] flex justify-center">
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
        style="flex: none;">
        <div class="max-w-[218px] mx-auto mb-10 md:mb-18 mt-5">
            <a id="back-to-home" href="/"><img src="/static/img/logo-1921_317.svg" alt="companyLogo"></a>
        </div>
        <div class="text-center mb-1">
            <h3 class="text-[30px] font-bold text-black mb-2">Try us out!</h3>
            <p class="text-l font-medium">Getting started is simple and hassle-free. No credit card
                required.</p>
        </div>
        <form action="#">
            <div class="p-5.5">
                <div class="mb-4.5">
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Name
                    </label>
                    <input type="text" placeholder="Enter your full name"
                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div>

                <div class="mb-4.5">
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Email
                    </label>
                    <input type="email" placeholder="Enter your email address"
                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div>

                <div class="mb-5.5">
                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                        Password
                    </label>
                    <input type="password" placeholder="Enter password" autocomplete="password"
                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div>

                <button
                    class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90">
                    Sign Up
                </button>

                <span class="block  leading-none text-center text-gray-700 uppercase relative  my-6 text-center">
                    <span class="inline-block relative bg-white z-1 px-2 text-sm font-medium">Or</span>
                    <span class="absolute top-1/2 left-0 right-0 h-[2px] bg-gray transform -translate-y-1/2"></span>
                </span>

                <ul class="mb-7">
                    <li class="mb-4">
                        <a id="google_login"
                            class="block w-full border-[1.5px]  border-stroke  rounded placeholder-gray-1100 text-sm px-3 py-2 text-center"
                            href="#">
                            <span class="flex text-base justify-center font-medium text-black dark:text-whitten p-2">
                                <svg class="w-5 mr-4" version="1.1" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 48 48" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    style="display: block;">
                                    <path fill="#EA4335"
                                        d="M24 9.5c3.54 0 6.71 1.22 9.21 3.6l6.85-6.85C35.9 2.38 30.47 0 24 0 14.62 0 6.51 5.38 2.56 13.22l7.98 6.19C12.43 13.72 17.74 9.5 24 9.5z">
                                    </path>
                                    <path fill="#4285F4"
                                        d="M46.98 24.55c0-1.57-.15-3.09-.38-4.55H24v9.02h12.94c-.58 2.96-2.26 5.48-4.78 7.18l7.73 6c4.51-4.18 7.09-10.36 7.09-17.65z">
                                    </path>
                                    <path fill="#FBBC05"
                                        d="M10.53 28.59c-.48-1.45-.76-2.99-.76-4.59s.27-3.14.76-4.59l-7.98-6.19C.92 16.46 0 20.12 0 24c0 3.88.92 7.54 2.56 10.78l7.97-6.19z">
                                    </path>
                                    <path fill="#34A853"
                                        d="M24 48c6.48 0 11.93-2.13 15.89-5.81l-7.73-6c-2.15 1.45-4.92 2.3-8.16 2.3-6.26 0-11.57-4.22-13.47-9.91l-7.98 6.19C6.51 42.62 14.62 48 24 48z">
                                    </path>
                                    <path fill="none" d="M0 0h48v48H0z"></path>
                                </svg>
                                Sign up with Google
                            </span>
                        </a>
                    </li>
                </ul>
                <span class="block text-center font-medium text-xs">Already have an account? <a href="/auth/login"
                        class="text-xs text-black font-semibold hover:underline">Login
                        instead</a></span>
            </div>

        </form>
    </div>
</div>

{{end}}