{{define "landing-auth"}}

<div class="flex flex-col gap-9 w-[360px] flex justify-center">
    <div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark"
        style="flex: none;">
        <div class="max-w-[218px] mx-auto mb-10 md:mb-18 mt-5"><a id="back-to-home" href="/"><img
                    src="/static/img/logo-1921_317.svg" alt="companyLogo"></a></div>
        <div class="text-center mb-3">
            <h3 class="text-[30px] font-bold text-black mb-2">Reset your password</h3>
        </div>
        <form action="#">
            <div class="p-5.5">
                <div class="mb-14"><label
                        class="mb-3 block text-sm font-medium text-black dark:text-white">Email</label>
                    <input type="email" placeholder="Enter your email address"
                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                </div><button
                    class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90">
                    Continue with email</button>

            </div>
        </form>
    </div>
</div>

{{end}}