{{define "countdown-timer"}}
<div class="mt-10 flex flex-wrap justify-center gap-6" x-data="timer" x-init="countdown()">
    <!-- timer days -->
    <div>
        <div class="mb-3 flex items-center gap-2">
            <template x-for="(day, index) in daysArray" :key="index">
                <div x-show="day.visible" class="timer-box relative overflow-hidden rounded-lg">
                    <span
                        class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                        x-text="day.value"></span>

                    <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20"
                        :style="{height: calcOverlayHeight()}"></span>
                </div>
            </template>
            <div x-show="day.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="day.value">2</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
            <div x-show="day.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="day.value">9</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
            <div x-show="day.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="day.value">0</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
        </div>

        <span class="block text-center font-medium">Days</span>
    </div>

    <!-- timer hours -->
    <div>
        <div class="mb-3 flex items-center gap-2">
            <template x-for="(hour, index) in hoursArray" :key="index">
                <div x-show="hour.visible" class="timer-box relative overflow-hidden rounded-lg">
                    <span
                        class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                        x-text="hour.value"></span>

                    <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20"
                        :style="{height: calcOverlayHeight()}"></span>
                </div>
            </template>
            <div x-show="hour.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="hour.value">1</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
            <div x-show="hour.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="hour.value">3</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
        </div>

        <span class="block text-center font-medium">Hours</span>
    </div>

    <!-- timer minutes -->
    <div>
        <div class="mb-3 flex items-center gap-2">
            <template x-for="(minute, index) in minutesArray" :key="index">
                <div x-show="minute.visible" class="timer-box relative overflow-hidden rounded-lg">
                    <span
                        class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                        x-text="minute.value"></span>

                    <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20"
                        :style="{height: calcOverlayHeight()}"></span>
                </div>
            </template>
            <div x-show="minute.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="minute.value">0</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
            <div x-show="minute.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="minute.value">4</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
        </div>

        <span class="block text-center font-medium">Minutes</span>
    </div>

    <!-- timer seconds -->
    <div>
        <div class="mb-3 flex items-center gap-2">
            <template x-for="(second, index) in secondsArray" :key="index">
                <div x-show="second.visible" class="timer-box relative overflow-hidden rounded-lg">
                    <span
                        class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                        x-text="second.value"></span>

                    <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20"
                        :style="{height: calcOverlayHeight()}"></span>
                </div>
            </template>
            <div x-show="second.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="second.value">1</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
            <div x-show="second.visible" class="timer-box relative overflow-hidden rounded-lg">
                <span
                    class="flex h-17.5 min-w-[56px] items-center justify-center rounded-lg bg-black px-3 text-xl font-black leading-[1.35] text-white dark:bg-boxdark lg:text-3xl xl:text-[40px]"
                    x-text="second.value">9</span>

                <span class="absolute bottom-0 left-0 block w-full bg-[#000]/20" :style="{height: calcOverlayHeight()}"
                    style="height: 79.6013%;"></span>
            </div>
        </div>

        <span class="block text-center font-medium">Seconds</span>
    </div>
</div>


<script defer>

    function timer() {
        return {
            daysArray: [],
            hoursArray: [],
            minutesArray: [],
            secondsArray: [],
            endTime: new Date("December 20, 2024 23:59:59 GMT+0530").getTime(),
            now: new Date().getTime(),
            timeLeft: 0,
            countdown: function () {
                let counter = setInterval(() => {
                    this.now = new Date().getTime();
                    this.timeLeft = (this.endTime - this.now) / 1000;

                    this.updateTimeArrays();

                    if (this.timeLeft <= 0) {
                        clearInterval(counter);
                        this.resetTimeArrays();
                    }
                }, 1000);
            },
            format: function (value) {
                if (value < 10) {
                    return "0" + Math.floor(value);
                } else return Math.floor(value);
            },
            updateTimeArrays: function () {
                this.daysArray = this.getTimeArray(
                    this.timeLeft / (60 * 60 * 24),
                    "days"
                );
                this.hoursArray = this.getTimeArray(
                    (this.timeLeft / (60 * 60)) % 24,
                    "hours"
                );
                this.minutesArray = this.getTimeArray(
                    (this.timeLeft / 60) % 60,
                    "minutes"
                );
                this.secondsArray = this.getTimeArray(
                    this.timeLeft % 60,
                    "seconds"
                );
            },
            getMaxValueForUnit: function (unit) {
                switch (unit) {
                    case "days":
                        return 365;
                    case "hours":
                        return 24;
                    case "minutes":
                        return 60;
                    case "seconds":
                        return 60;
                    default:
                        return 1;
                }
            },
            getTimeArray: function (value, unit) {
                let stringValue = this.format(value).toString();
                let percentage = (value / this.getMaxValueForUnit(unit)) * 100;
                return stringValue.split("").map((digit) => ({
                    value: digit,
                    visible: true,
                    remainingPercentage: percentage,
                }));
            },
            calcOverlayHeight: function () {
                let remainingDaysPercentage = this.daysArray[0].remainingPercentage;
                return `${remainingDaysPercentage}%`;
            },
            resetTimeArrays: function () {
                this.daysArray = [{ value: "0", visible: true }];
                this.hoursArray = [{ value: "0", visible: true }];
                this.minutesArray = [{ value: "0", visible: true }];
                this.secondsArray = [{ value: "0", visible: true }];
            },
        };
    }
</script>


{{end}}