{{define "form-elements-textarea-fields"}}
<div class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
    <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
        <h3 class="font-medium text-black dark:text-white">
            Textarea Fields
        </h3>
    </div>
    <div class="flex flex-col gap-5.5 p-6.5">
        <div>
            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                Default textarea
            </label>
            <textarea rows="6" placeholder="Default textarea"
                class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary"></textarea>
        </div>

        <div>
            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                Active textarea
            </label>
            <textarea rows="6" placeholder="Active textarea"
                class="w-full rounded-lg border-[1.5px] border-primary bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:bg-form-input dark:text-white"></textarea>
        </div>

        <div>
            <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                Disabled textarea
            </label>
            <textarea rows="6" disabled="" placeholder="Disabled textarea"
                class="w-full rounded-lg border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary dark:disabled:bg-black"></textarea>
        </div>
    </div>
</div>

{{end}}