{{define "header"}}
<header class="sticky top-0 z-999 flex w-full bg-white drop-shadow-1 dark:bg-boxdark dark:drop-shadow-none">


    <div class="flex flex-grow items-center justify-between px-4 py-4 shadow-2 md:px-6 2xl:px-11">

        <div class="flex items-center gap-2 sm:gap-4 lg:hidden">
            <!-- Hamburger Toggle BTN -->
            <button
                class="z-99999 block rounded-sm border border-stroke bg-white p-1.5 shadow-sm dark:border-strokedark dark:bg-boxdark lg:hidden"
                @click.stop="sidebarToggle = !sidebarToggle">
                <span class="relative block h-5.5 w-5.5 cursor-pointer">
                    <span class="du-block absolute right-0 h-full w-full">
                        <span
                            class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-[0] duration-200 ease-in-out dark:bg-white"
                            :class="{ '!w-full delay-300': !sidebarToggle }"></span>
                        <span
                            class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-150 duration-200 ease-in-out dark:bg-white"
                            :class="{ '!w-full delay-400': !sidebarToggle }"></span>
                        <span
                            class="relative left-0 top-0 my-1 block h-0.5 w-0 rounded-sm bg-black delay-200 duration-200 ease-in-out dark:bg-white"
                            :class="{ '!w-full delay-500': !sidebarToggle }"></span>
                    </span>
                    <span class="du-block absolute right-0 h-full w-full rotate-45">
                        <span
                            class="absolute left-2.5 top-0 block h-full w-0.5 rounded-sm bg-black delay-300 duration-200 ease-in-out dark:bg-white"
                            :class="{ '!h-0 delay-[0]': !sidebarToggle }"></span>
                        <span
                            class="delay-400 absolute left-0 top-2.5 block h-0.5 w-full rounded-sm bg-black duration-200 ease-in-out dark:bg-white"
                            :class="{ '!h-0 dealy-200': !sidebarToggle }"></span>
                    </span>
                </span>
            </button>
            <!-- Hamburger Toggle BTN -->
            <a class="block flex-shrink-0 lg:hidden" href="index.html">
                <img src="/static/img/logo-icon_32_32.svg" alt="Logo" />
            </a>
        </div>


        <!--desktop-->
        <span class="w-full flex place-content-end md:justify-center">
            <div class="max-w-[1440px] m-0 sm:px-12 flex-col justify-center ">
                <div class="hidden sm:block mb-2">
                    <a href="/">
                        <img src="/static/img/logo-176_32.svg" alt="Logo" />
                    </a>
                </div>

                <span class="w-full justify-between flex">
                    <div class="hidden sm:block align-center min-w-[500px] h-[48px]">
                        <span class>
                            <div class="dropdown dropdown-bottom dropdown-end">
                                <div tabindex="0" role="button" class="m-1 mt-3 ">

                                    <a
                                        class="relative flex h-8.5 w-8.5 items-center justify-center rounded-full border-[0.5px] border-stroke bg-gray hover:text-primary dark:border-strokedark dark:bg-meta-4 dark:text-white">

                                        <svg class="fill-current duration-300 ease-in-out"
                                            xmlns="http://www.w3.org/2000/svg" width="26" height="26"
                                            viewBox="0 0 24 24">
                                            <path fill=""
                                                d="M12.003 21q-1.866 0-3.51-.708q-1.643-.709-2.859-1.924q-1.216-1.214-1.925-2.856Q3 13.87 3 12.003q0-1.866.708-3.51q.709-1.643 1.924-2.859q1.214-1.216 2.856-1.925Q10.13 3 11.997 3q1.866 0 3.51.708q1.643.709 2.859 1.924q1.216 1.214 1.925 2.856Q21 10.13 21 11.997q0 1.866-.708 3.51q-.709 1.643-1.924 2.859q-1.214 1.216-2.856 1.925Q13.87 21 12.003 21M12 20q3.35 0 5.675-2.325T20 12q0-.175-.003-.353t-.022-.341q-.067.667-.53 1.104q-.464.436-1.137.436h-2.539q-.698 0-1.195-.496q-.497-.497-.497-1.194v-.844h-3.385v-1.69q0-.697.497-1.198q.498-.5 1.196-.5h.846v-.77q0-.729.476-1.147q.476-.419 1.137-.482q-.673-.26-1.38-.392Q12.759 4 12 4Q8.65 4 6.325 6.325T4 12v.288q0 .135.02.289H8.5q1.42 0 2.402.983q.983.982.983 2.393v.855H9.346v2.73q.616.222 1.286.342q.67.12 1.368.12" />
                                        </svg>
                                    </a>





                                </div>
                                <ul tabindex="0"
                                    class="dropdown-content z-[1] menu p-2 shadow bg-base-100 w-52 mt-[14px]">
                                    <li><a>English</a></li>
                                    <li><a>Polski</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                    <div class="flex items-center gap-3 2xsm:gap-7">
                        <div class="flex items-center gap-2 2xsm:gap-4"></div>

                        <!-- User Area -->
                        <div class="relative">
                            <a class="text-black font-medium" href="/auth/signup">
                                Sign up
                            </a>
                            <a class="btn btn-outline btn-primary ml-4" href="/auth/login">Log in</a>
                        </div>
                        <!-- User Area -->
                    </div>
                </span>

            </div>

        </span>

    </div>



</header>
{{end}}