{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/static/libs/htmx.js"></script>
    <script src="/static/libs/tailwindcss.js"></script>
    <!--alpinejs-->
    <!-- Alpine Plugins -->
    <script defer src="/static/libs/alpine-persist.js"></script>

    <!-- Alpine Core -->
    <script defer src="/static/libs/alpine.js"></script>
    <!---->

    {{block "head" .}} {{end}}

    <link rel='stylesheet' href='/static/css/satoshi.css'>
    <link rel='shortcut icon' href='/static/img/favicon.ico' type='image/x-icon'>
    <script src="/static/js/main.js" type="text/javascript"></script>

    <title>{{template "title" .}} | GHAT</title>
</head>

{{block "body" . }}

<body
    x-data="{ page: 'ecommerce', 'loaded': true, 'darkMode': false, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
         darkMode = JSON.parse(localStorage.getItem('darkMode'));
         $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

    {{template "main" .}}
</body>
{{end}}

</html>
{{end}}