{{define "footer-nav-links"}}
<div class="mt-2 md:mt-0 flex flex-wrap items-center text-zinc-50">
    <span class="flex pr-1 inline-flex">©&ensp;<span id="year"></span>&ensp;GHAT(D)</span>
    &ensp;&verbar;&ensp;<a
        class="hover:underline hover:underline-offset-4  inline-flex bg-transparent outline-transparent pointer"
        href="/privacy-policy">Privacy Policy</a>&ensp;&verbar;&ensp;<a
        class="hover:underline hover:underline-offset-4  inline-flex bg-transparent outline-transparent pointer"
        href="/terms">Terms of
        Use</a>&ensp;&verbar;&ensp;<a
        class="hover:underline hover:underline-offset-4  inline-flex bg-transparent outline-transparent pointer"
        href="/cookie-policy">
        Cookie Policy</a>
</div>
<script id="set-year" type="text/javascript">
    document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
{{end}}