{{define "header"}}
<header class="sticky top-0 md:static bg-white underline-offset-4 z-40">

    <!-- SIDEBAR START -->
    <nav class="flex w-full px-6 py-4 items-center justify-between md:hidden">
        <a href="/" class="z-50">
            <img src="/static/img/ghat-logo-square.png" class="w-14" alt="ghatd logo">
        </a>
        <input type="checkbox" id="menu" class="hidden peer">
        <label for="menu" class="peer-checked:hidden cursor-pointer z-50">
            <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5">
                </path>
            </svg>
        </label>
        <label for="menu" class="hidden peer-checked:block cursor-pointer z-50">
            <svg class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </label>
        <div
            class="peer-checked:flex fixed bg-white hidden top-0 pt-24 h-screen right-0 w-full sm:hidden flex-col px-6 py-4 text-3xl space-y-6 tracking-tight">

            <a href="mailto:leon+ghatd@boasi.io?subject=%5BGHATD%5D%20Support%20Request" target="_blank">Get Support</a>
            <a href="https://github.com/ooaklee/ghatd">GitHub</a>
            <a href="/dash">Preview Dashboard</a>

            <a class="block font-medium" href="/auth/login">Sign in</a>

        </div>
    </nav>
    <!-- SIDEBAR END -->

    <!-- HEADER START -->
    <nav class="hidden select-none mx-auto md:flex justify-between items-center px-6 py-3.5 text-md md:text-lg">
        <div class="flex items-center space-x-8">
            <a class="mr-2" href="/">
                <img src="/static/img/ghat-logo-square.png" class="w-16" alt="ghatd logo"></a>
            <a class="hover:underline" href="mailto:leon+ghatd@boasi.io?subject=%5BGHATD%5D%20Support%20Request"
                target="_blank">
                Get Support
            </a>
            <a class="hover:underline" target="_blank" href="https://github.com/ooaklee/ghatd">
                GitHub
            </a>
        </div>
        <div class="flex space-x-8 items-center">



            <a class="hover:underline" href="/auth/signup">Sign up</a>

            <a class="hover:underline min-w-fit border px-4 py-[2px] rounded-lg border-2 border-primary text-primary hover:text-black hover:border-black font-medium"
                href="/auth/login">Sign in</a>

            <a class="flex cursor-pointer items-center rounded-lg bg-primary px-4 py-1 text-white hover:bg-black focus:outline-none font-medium"
                href="/dash">
                Preview Dashboard
            </a>
        </div>
    </nav>
    <!-- HEADER END -->
</header>
{{end}}