{{define "title"}}Auth{{end}}


{{define "head"}}

{{template "tailwind-conf-script" .}}
<link rel='stylesheet' href='/static/css/dash-styles.css'>

{{end}}


{{define "main"}}
<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">

    <!-- ===== Content Area Start ===== -->
    <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden h-screen justify-center ">


        <!-- ===== Main Content Start ===== -->
        <main>
            <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">

                <!-- Login/Signup Partial starts here -->
                <div class="flex flex-col gap-9 max-w-[600px]">
                    <div
                        class="rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
                        <div class="border-b border-stroke px-6.5 py-4 dark:border-strokedark">
                            <h3 class="font-medium text-black dark:text-white">
                                Sign Up Form
                            </h3>
                        </div>
                        <form action="#">
                            <div class="p-6.5">
                                <div class="mb-4.5">
                                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                        Name
                                    </label>
                                    <input type="text" placeholder="Enter your full name"
                                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                                </div>

                                <div class="mb-4.5">
                                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                        Email
                                    </label>
                                    <input type="email" placeholder="Enter your email address"
                                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                                </div>

                                <div class="mb-4.5">
                                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                        Password
                                    </label>
                                    <input type="password" placeholder="Enter password" autocomplete="password"
                                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                                </div>

                                <div class="mb-5.5">
                                    <label class="mb-3 block text-sm font-medium text-black dark:text-white">
                                        Re-type Password
                                    </label>
                                    <input type="password" placeholder="Re-enter password"
                                        autocomplete="re-enter-password"
                                        class="w-full rounded border-[1.5px] border-stroke bg-transparent px-5 py-3 font-normal text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                                </div>

                                <button
                                    class="flex w-full justify-center rounded bg-primary p-3 font-medium text-gray hover:bg-opacity-90">
                                    Sign Up
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Login/Signup Partial goes to here -->

            </div>
        </main>
        <!-- ===== Main Content End ===== -->

    </div>
    <!-- ===== Content Area End ===== -->
</div>
<!-- ===== Page Wrapper End ===== -->
{{end}}