{{define "title"}}Coming Soon{{end}}

{{define "head"}}

{{template "tailwind-conf-script" .}}
<link rel='stylesheet' href='/static/css/dash-styles.css'>
{{end}}

{{define "body"}}

<body
    x-data="{ page: 'comingSoon', 'loaded': true, 'darkMode': true, 'stickyMenu': false, 'sidebarToggle': false, 'scrollTop': false }"
    x-init="
            darkMode = JSON.parse(localStorage.getItem('darkMode'));
            $watch('darkMode', value => localStorage.setItem('darkMode', JSON.stringify(value)))"
    :class="{'dark text-bodydark bg-boxdark-2': darkMode === true}">

    {{template "main" .}}

</body>

{{end}}


{{define "main"}}

<!-- ===== Preloader Start ===== -->

<!-- ===== Preloader End ===== -->

<!-- ===== Countdown Section Start ===== -->
<section class="bg-white px-4 dark:bg-boxdark-2 sm:px-8 overflow-hidden relative z-10">
    <div class="flex h-screen flex-col items-center justify-center overflow-hidden">
        <div class="no-scrollbar overflow-y-auto py-20">
            <div class="mx-auto w-full max-w-[600px]">
                <div class="text-center">
                    <a href="/" class="mx-auto mb-10 inline-flex">
                        <img src="/static/img/logo-1921_317.svg" alt="logo" class="dark:hidden">
                        <img src="/static/img/logo-1921_317.svg" alt="logo" class="hidden dark:block">
                    </a>

                    <h1
                        class="mb-2.5 text-3xl font-black text-black dark:text-white lg:text-4xl xl:text-[50px] xl:leading-[60px]">
                        Coming Soon
                    </h1>

                    <p class="font-medium">
                        Stay tuned for our upcoming launch. Something awesome is on its way. Be the first to know!
                    </p>
                </div>
            </div>

            <!-- Countdown timer -->
            {{template "countdown-timer" .}}
            <!-- Countdown timer ends -->

            <!-- form start -->
            <div class="mx-auto mt-12.5 w-full max-w-[580px]">
                <form>
                    <div class="flex">
                        <input type="email" name="email" id="email" placeholder="Enter your email"
                            class="placeholder:text-dark-4 w-full rounded-l-md border-[1.5px] border-r-0 border-stroke px-5.5 py-3 text-black outline-none transition focus:border-primary active:border-primary disabled:cursor-default disabled:bg-whiter dark:border-form-strokedark dark:bg-form-input dark:text-white dark:focus:border-primary">
                        <button type="submit"
                            class="inline-flex justify-center rounded-r-md bg-primary px-4 py-3 font-medium text-white duration-200 ease-out hover:bg-opacity-90 sm:px-7.5">
                            Subscribe
                        </button>
                    </div>
                </form>
            </div>
            <!-- form end -->

            <!-- social link start -->
            <div class="mt-10 text-center">
                <p class="mb-5 font-medium text-black dark:text-white">
                    Follow Us On
                </p>

                <div
                    class="flex items-center justify-center gap-4 [&>a]:flex [&>a]:size-10  [&>a]:items-center  [&>a]:justify-center  [&>a]:rounded-full  [&>a]:border  [&>a]:border-[#DFE4EA]  [&>a:hover]:border-primary  [&>a:hover]:bg-primary  [&>a:hover]:text-white  [&>a:dark]:border-strokedark  [&>a:dark:hover]:border-primary">

                    {{ block "social-links" .}}{{end}}

                </div>
            </div>
            <!-- social link end -->
        </div>
    </div>

    <div class="absolute left-0 top-0 -z-10 flex h-screen w-full items-center justify-around">
        <div class="flex h-full gap-20">
            <span class="block h-full w-0.5 animate-line1">
                <span class="block h-55 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
            <span class="block h-full w-0.5 animate-line2">
                <span class="block h-36 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
            <span class="ml-10 block h-full w-0.5 animate-line3">
                <span class="block h-40 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
        </div>

        <div class="flex h-full gap-20">
            <span class="mr-10 block h-full w-0.5 animate-line1">
                <span class="block h-55 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
            <span class="block h-full w-0.5 animate-line2">
                <span class="block h-36 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
            <span class="block h-full w-0.5 animate-line3">
                <span class="block h-40 w-0.5 bg-bodydark1 dark:bg-strokedark"></span>
            </span>
        </div>
    </div>
</section>
<!-- ===== Countdown Section End ===== -->

<svg id="SvgjsSvg1001" width="2" height="0" xmlns="http://www.w3.org/2000/svg" version="1.1"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev"
    style="overflow: hidden; top: -100%; left: -100%; position: absolute; opacity: 0;">
    <defs id="SvgjsDefs1002"></defs>
    <polyline id="SvgjsPolyline1003" points="0,0"></polyline>
    <path id="SvgjsPath1004" d="M0 0 "></path>
</svg>
{{end}}