{{define "head"}}
<link href="/static/libs/daisyui-full.min.css" rel="stylesheet" type="text/css" />

{{template "tailwind-conf-script" .}}
<link rel='stylesheet' href='/static/css/dash-styles.css'>
{{end}}

{{define "main"}}
<!-- ===== Preloader Start ===== -->
{{block "preloader" .}}{{end}}
<!-- ===== Preloader End ===== -->

<!-- ===== Page Wrapper Start ===== -->
<div class="flex h-screen overflow-hidden">
    <!-- ===== Sidebar Start ===== -->
    {{template "sidebar" .}}
    <!-- ===== Sidebar End ===== -->

    <!-- ===== Content Area Start ===== -->
    <div class="relative flex flex-1 flex-col overflow-y-auto overflow-x-hidden">
        <!-- ===== Header Start ===== -->
        {{template "header" .}}
        <!-- ===== Header End ===== -->

        <!-- ===== Main Content Start ===== -->
        {{template "dash-main" .}}
        <!-- ===== Main Content End ===== -->
    </div>
    <!-- ===== Content Area End ===== -->
</div>
<!-- ===== Page Wrapper End ===== -->
{{end}}