{{define "title"}}Charts{{end}}


{{define "dash-main"}}

{{ if .EnableTitleUpdate}}
<script>
    document.title = `{{ .NewTitle }} | ${document.title?.split('|')[1]}`
</script>
{{end}}

<main x-init="page = 'charts'">
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <!-- Breadcrumb Start -->
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
            <h2 class="text-title-md2 font-bold text-black dark:text-white">
                Chart
            </h2>

            <nav>
                <ol class="flex items-center gap-2">
                    <li>
                        <a class="font-medium" href="/dash">Dashboard /</a>
                    </li>
                    <li class="font-medium text-primary">Chart</li>
                </ol>
            </nav>
        </div>
        <!-- Breadcrumb End -->

        <div class="grid grid-cols-12 gap-4 md:gap-6 2xl:gap-7.5">
            <!-- ====== Chart Four Start -->
            <div class="col-span-12">
                {{template "chart-bar-2" . }}
            </div>
            <!-- ====== Chart Four End -->

            <!-- ====== Chart One Start -->
            {{template "chart-area" .}}
            <!-- ====== Chart One End -->

            <!-- ====== Chart Two Start -->
            {{template "chart-bar" .}}
            <!-- ====== Chart Two End -->

            <!-- ====== Chart Three Start -->
            {{template "chart-donut" .}}
            <!-- ====== Chart Three End -->
        </div>
    </div>
</main>
<!-- ===== Main Content End ===== -->
{{end}}