{{define "title"}}Settings{{end}}


{{define "dash-main"}}

{{ if .EnableTitleUpdate}}
<script>
    document.title = `{{ .NewTitle }} | ${document.title?.split('|')[1]}`
</script>
{{end}}

<main x-init="page = 'settings'">
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
        <div class="mx-auto max-w-270">
            <!-- Breadcrumb Start -->
            <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
                <h2 class="text-title-md2 font-bold text-black dark:text-white">
                    Settings Page
                </h2>

                <nav>
                    <ol class="flex items-center gap-2">
                        <li>
                            <a class="font-medium" href="/dash">Dashboard /</a>
                        </li>
                        <li class="font-medium text-primary">Settings</li>
                    </ol>
                </nav>
            </div>
            <!-- Breadcrumb End -->

            <!-- ====== Settings Section Start -->
            <div class="grid grid-cols-5 gap-8">
                <div class="col-span-5 xl:col-span-3">
                    {{ template "settings-profile" . }}
                </div>
                <div class="col-span-5 xl:col-span-2">
                    {{ template "settings-photo" . }}
                </div>
            </div>
            <!-- ====== Settings Section End -->
        </div>
    </div>
</main>
<!-- ===== Main Content End ===== -->
{{end}}